:root {
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --primary-text-color: #212121;
}

body {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #FFFFFF;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logostudiotop {
  color: var(--primary-text-color);
}
.logostudiobottom {
  color: #FFFFFF;
}
.navlist {
  list-style-type: none;
}
.sitenavlink {
  color: var(--primary-text-color);
  text-decoration: none;
  
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.sitenavlink:hover,
.sitenavlink:focus {
  color: var(--accent-color);
}
.contacts {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
/* Page index */ 
.hero {
  background-color: #2F303A;
}
.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}
.list-gen-setting {
  list-style-type: none;
}

.benefits-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.what-we-do-section {
  background-color: #FFFFFF;
}
.what-we-do-title,
.our-team-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team {
  background-color: #F5F4FA;
}
.our-team-names {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Page portfolio */
.our-works-filter {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.our-works-filter:hover,
.our-works-filter:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
}

.work-examples-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.work-examples-type {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
/* Footer */
footer {
  background-color: #2F303A;
}
.address-footer {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}